<h1>Instructional Videos Page</h1>
<hr>

<div class="facilitator-videos">
	<h3>Facilitator Videos</h3>
	<ul>
		<li>Video 1</li>
		<li>Video 2</li>
		<li>Video 3</li>
	</ul>
</div>

<div class="student-videos">
	<h3>Student Videos</h3>
	<ul>
		<li>Video 1</li>
		<li>Video 2</li>
		<li>Video 3</li>
	</ul>
</div>

<% css_bundle :custom_videos %>