<h1>Resources</h1>
<hr>

<div class="resources-row">

	<div class="resources-col">
		<a href="https://about.mattermost.com/" target="_blank">
			<p>
				<img src="/images/test/mattermost-logo-400x400.png">
			</p>
			<h3>Mattermost</h3>
		</a>
	</div>
	<div class="resources-col">
		<a href="https://about.gitlab.com/" target="_blank">
			<p>
				<img src="/images/test/gitlab-logo-400x400.png">
			</p>
			<h3>Git Lab</h3>
		</a>
	</div>
	<div class="resources-col">
		<a href="https://www.freecodecamp.org/" target="_blank">
			<p>
				<img src="/images/test/freecodecamp-logo-400x400.jpeg">
			</p>
			<h3>Free Code Camp</h3>
		</a>
	</div>

	<div class="resources-col">
		<a href="https://pydio.com/" target="_blank">
			<p>
				<img src="/images/test/pydio-logo-text-400x400.png">
			</p>
			<h3>Pydio</h3>
		</a>
	</div>
	
</div>

<div class="resouces-row">
	
	<div class="resources-col">
		<a href="https://www.npmjs.com/package/url" target="_blank">
			<p>
				<img src="/images/test/npm-logo-400x400.png">
			</p>
			<h3>NPM</h3>
		</a>
	</div>

	<div class="resources-col">
		<a href="https://www.wikipedia.org/" target="_blank">
			<p>
				<img src="/images/test/wikipedia-logo-400x400.jpeg">
			</p>
			<h3>Wikipedia</h3>
		</a>
	</div>

	<div class="resources-col">
		<a href="" target="_blank">
			<p>
				<img src="/images/test/jolt-logo.png">
			</p>
			<h3>JOLT (Coming Soon)</h3>
		</a>
	</div>	
	<div class="resources-col">
		<a href="https://stackoverflow.com/" target="_blank">
			<p>
				<img src="/images/test/so_logo_400x400.png">
			<h3>Stack Overflow</h3>
		</a>
	</div>	
</div>

<% css_bundle :custom_resources %>