<h1>Resources</h1>
<hr>

<div class="resources-row">

	<div class="resources-col">
		<a href="https://about.mattermost.com/" target="_blank">
			<p>
				<img src="/images/test/mattermost-logo-400x400.png">
			</p>
			<h3>Mattermost</h3>
		</a>
	</div>
	<div class="resources-col">
		<a href="https://about.gitlab.com/" target="_blank">
			<p>
				<img src="/images/test/gitlab-logo-400x400.png">
			</p>
			<h3>Git Lab</h3>
		</a>
	</div>
	<div class="resources-col">
		<a href="https://www.freecodecamp.org/" target="_blank">
			<p>
				<img src="/images/test/freecodecamp-logo-400x400.jpeg">
			</p>
			<h3>Free Code Camp</h3>
		</a>
	</div>
	
</div>

<div class="resouces-row">
	<div class="resources-col">
		<a href="https://pydio.com/" target="_blank">
			<p>
				<img src="/images/test/pydio-logo-text-400x400.png">
			</p>
			<h3>Pydio</h3>
		</a>
	</div>
	<div class="resources-col">
		<a href="https://www.npmjs.com/package/url" target="_blank">
			<p>
				<img src="/images/test/npm-logo-400x400.png">
			</p>
			<h3>NPM</h3>
		</a>
	</div>	
</div>

<style type="text/css">
	.resources-row {
		width: 100%;
	}

	.resources-col {
		display: inline-block;
		text-align: center;
		width: 33%
	}
	.resources-col p {
		height: 250px;
		padding: 15px 60px 30px 60px;
	}
	.resources-col img {
		height: 100%;
		width: 100%;
	}
</style>