/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.support-header {
	text-align: center;
}

.page-title {
	cursor: pointer;
}

h1 {
	cursor: pointer;
}

#bug-support {
	display: none;
}