/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.resources-row {
	margin-bottom: 50px;
	width: 100%;
}

.resources-col {
	display: inline-block;
	text-align: center;
	width: 24.5%
}
.resources-col p {
	height: 175px;
	padding: 15px 60px 30px 60px;
}
.resources-col img {
	height: 100%;
	width: 100%;
}