<h1>Bug Support</h1>
<hr>

<div class="support-header">
	<p>If you run into any problems with the platform, this is the place to come</p>
	<p>Please provide your name, facility, upload a screenshot and a detailed message about the issue you faced.</p>
	<p>We'll provide support as quickly as possible.</p>
</div>

<% css_bundle :custom_support %>